asgiref
black
certifi
charset-normalizer
click
colorama
coverage
Django
flake8
idna
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
python-coveralls
PyYAML
requests
six
sqlparse
tzdata
urllib3
