awsebcli==3.20.10
botocore==1.31.85
cement==2.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.3
idna==3.10
jmespath==1.0.1
pathspec==0.10.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
termcolor==1.1.0
urllib3==1.26.20
wcwidth==0.1.9
